# C# Project Files
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs
*.lock.json
*.DS_Store

# Visual Studio
.vs/
*.sln.docstates

# Rider
.idea/

# Build results
[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleasePublic/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
buildArtifacts/
artifacts/

# Test results
_ReSharper*/
*.[Tt]est[Rr]esult
*.VisualState.xml
TestResult.xml
